@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  @apply antialiased text-slate-800;
  background-color: rgb(224 247 250 / 0.2);
}
